<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <meta name="bombre de la propiedad" content="valor de la propiedad">
    <meta name="autor" content="A Rodriguez">
    <meta name="coyright" content="Ninguno.">
    <meta name="descripccion" content="Este es un ejemplo :D.">
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
